<section class="default-container">
  <h1 class="title">Evidence</h1>
  <div class="default-container-item">
    <div class="container-search">
      <form action="/evidence" method="POST">
        <input type="text" name="search" placeholder="Title..." />
        <input type="submit" value="Search" class="btn" />
      </form>
      <span class="alert">{{checkSearch}}</span>
    </div>
    <div class="default-container-buttons">
      {{#if all}}
        <a href="/evidence" class="btn">All</a>
      {{/if}}
      <a href="/evidence/add" class="btn">Add New Evidence</a>
    </div>
  </div>
  {{#if evidence}}
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Title</th>
          <th>Authors</th>
          <th>Abstract</th>
          <th>KeyWords</th>
          <th>DOINnumber</th>
          <th>Link</th>
          <th>File</th>
          <th>View</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {{#each evidence}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.Description}}</td>
            <td>{{this.Title}}</td>
            <td>{{this.Authors}}</td>
            <td>{{this.Abstract}}</td>
            <td>{{this.KeyWords}}</td>
            <td>{{this.DOINnumber}}</td>
            <td>{{this.Link}}</td>
            <td>{{this.File}}</td>
            <td><a href="/evidence/{{this.id}}"><i
                  class="bi bi-search"
                ></i></a></td>
            <td><a href="/evidence/edit/{{this.id}}"><i
                  class="bi bi-pen"
                ></i></a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    {{#unless checkSearch}}
      <h6 class="title">No Results</h6>
    {{/unless}}
  {{/if}}
</section>
<div class="container-form-view">
  <div class="table-mobile">
    {{#each evidence}}
      <div class="table-mobile-item">
        <p><b>ID: </b>{{this.id}}</p>
        <p><b>Description: </b>{{this.Description}}</p>
        <p><b>Title: </b>{{this.Title}}</p>
        <p><b>Authors: </b>{{this.Authors}}</p>
        <p><b>Abstract: </b>{{this.Abstract}}</p>
        <p><b>KeyWords: </b>{{this.KeyWords}}</p>
        <p><b>DOINnumber: </b>{{this.DOINnumber}}</p>
        <p><b>Link: </b>{{this.Link}}</p>
        <p><b>File: </b>{{this.File}}</p>
        <div class="actions">
          <p>
            <a href="/evidence/{{this.id}}"><i
                class="bi bi-search"
              ></i></a></p>
          <p>
            <a href="/evidence/edit/{{this.id}}"><i
                class="bi bi-pen"
              ></i></a></p>
        </div>
      </div>
    {{/each}}
  </div>
</div>