<section class='container-form-view'>
  <h1 class='title'>Evidence - {{evidence.Title}}</h1>
  <form class='form'>
    <div class='form-control'>
      <label>Description:</label>
      <input
        type='text'
        name='Description'
        value='{{evidence.Description}}'
        disabled
      />
    </div>
    <div class='form-control'>
      <label>Title:</label>
      <input type='text' value='{{evidence.Title}}' disabled />
    </div>
    <div class='form-control'>
      <label>Authors:</label>
      <input type='text' value='{{evidence.Authors}}' disabled />
    </div>
    <div class='form-control'>
      <label>Abstract:</label>
      <input type='text' value='{{evidence.Abstract}}' disabled />
    </div>
    <div class='form-control'>
      <label>KeyWords:</label>
      <input type='text' value='{{evidence.KeyWords}}' disabled />
    </div>
    <div class='form-control'>
      <label>DOINnumber:</label>
      <input type='text' value='{{evidence.DOINnumber}}' disabled />
    </div>
    <div class='form-control'>
      <label>Link:</label>
      <input type='text' value='{{evidence.Link}}' disabled />
    </div>
    <div class='form-control'>
      <label>File:</label>
      <input type='text' value='{{evidence.File}}' disabled />
    </div>
  </form>
</section>