<section class="default-container">
  <div class="default-container-item">
    <h1 class="title">Swebok v3.0 Guide</h1>
    <a href="/industryissue/search" id="search">Seacrh</a>
    <a href="/industryissue/search" id="search-mobile"><i class="bi bi-search"></i></a>
  </div>

  <div class="default-container-buttons">
    <a href="/evidence" class="btn">Evidence</a>
    <a href="/industryissue/add" class="btn">New Issue</a>
  </div>
<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Chapter</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    {{#each chapters}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.Description}}</td>
      <td><a href="/swebokchapter/{{this.id}}"><i class="bi bi-search"></i></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<div class="container-form-view">
  <div class="table-mobile">
    {{#each chapters}}
      <div class="table-mobile-item">
        <p><b>Number: </b>{{this.id}}</p>
        <p><b>Chapter: </b>{{this.Description}}</p>
        <div class="actions">
          <p><a href="/swebokchapter/{{this.id}}"><i class="bi bi-search"></i></a></p>
        </div>
      </div>
    {{/each}}
  </div>
</section>