<section class='container-view'>
  <h1 class='title'>{{chapter.id}}. {{chapter.Description}}</h1>
</section>
<section class="container-topic-list">
  <table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Topics</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    {{#each chapter.Swebok_Topics}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.Description}}</td>
      <td><a href="/sweboktopic/{{this.id}}"><i class="bi bi-search"></i></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</section>
{{!-- <section class='container-topic'>
 <h2 class='title'>Topics</h2>
  <form action='/sweboktopic/add' method='POST' class='form'>
    <input type='hidden' name='SwebokChapterId' value='{{chapter.id}}' />
    <div class='form-control'>
      <input type='text' name='Description' placeholder='Create topic' />
    </div>
    <input type='submit' value='Create' class='btn' />
  </form>
</section> --}}

